.Rhistory
/block_shapes/US_block_1970
/building_permits/
/dc_residential_data/
.RData
.Rhistory
*.Rproj
.Rproj.user/6D4CE427/rmd-outputs
.Rproj.user/6D4CE427/saved_source_markers
.Rproj.user/6D4CE427/sources/prop/BCAF538F
.Rproj.user/6D4CE427/sources/prop/INDEX
.Rproj.user/6D4CE427/sources/session-debcc558/52379A40-contents
.Rproj.user/6D4CE427/sources/session-debcc558/69F97294-contents
.Rproj.user/6D4CE427/sources/session-debcc558/83DB2E3B
.Rproj.user/6D4CE427/sources/session-debcc558/83DB2E3B-contents
.Rproj.user/6D4CE427/sources/session-debcc558/8D93599F
.Rproj.user/6D4CE427/sources/session-debcc558/8D93599F-contents
.Rproj.user/6D4CE427/sources/session-debcc558/DBE623B9-contents
.Rproj.user/6D4CE427/sources/session-debcc558/E705371B
.Rproj.user/6D4CE427/sources/session-debcc558/E705371B-contents
.Rproj.user/6D4CE427/sources/session-debcc558/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/6D4CE427/sources/prop/FCA0F114
.Rproj.user/6D4CE427/sources/session-debcc558/FDABE20D
.Rproj.user/6D4CE427/sources/session-debcc558/FDABE20D-contents
